@model TrackerWebApp.Models.Activity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirebaseLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirebaseLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityType.ActivityTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
