@model TrackerWebApp.Models.Activity

@{
    ViewData["Title"] = "Details";
}
<div style="text-align:center">
    <h2 style="display:inline">
        @Html.DisplayFor(model => model.StartTime) :
    </h2>
    @if (Model.ActivityTypeId.HasValue)
    {
        <h2 style="display:inline">
            @(Model.ActivityType.Description)
        </h2>
    }
    @if (!Model.ActivityTypeId.HasValue)
    {
        <form asp-action="Edit" style="display:inline">
            <span class="form-group" style="display:inline">
                <select asp-for="ActivityTypeId" class="form-control" style="display:inline;width:25%" asp-items="ViewBag.ActivityTypeId"></select>
                <span asp-validation-for="ActivityTypeId" class="text-danger"></span>
            </span>
            <input type="hidden" name="Distance" value=@Model.Distance />
            <input type="hidden" name="Pace" value=@Model.Pace />
            <input type="hidden" name="StartTime" value=@Model.StartTime />
            <input type="hidden" name="FirebaseLocation" value=@Model.FirebaseLocation />
            <div class="form-group" style="display:inline">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    }
</div>

<br />
<div style="display:flex;justify-content:space-around">
    <button runat="server" id="uxSearch" class="btn btn-default" style="visibility:@(ViewBag.PreviousActivityId > 0 ? "" : "hidden")">
        @Html.ActionLink("<", "Details", "Activities", new { id = ViewBag.PreviousActivityId }, null)
    </button>
    <img src="@ViewBag.Map">
    <button runat="server" id="uxSearch" class="btn btn-default" style="visibility:@(ViewBag.NextActivityId > 0 ? "" : "hidden")">
        @Html.ActionLink(">", "Details", "Activities", new { id = ViewBag.NextActivityId }, null)
    </button>

</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pace)
        </dd>
    </dl>

    @foreach (var note in Model.Notes)
    {
        <p>
            @(note.Content)
        </p>
        @Html.ActionLink("Edit", "Edit", "Notes", new { id = note.NoteId }, null)
        <span> | </span>
        @Html.ActionLink("Delete", "Delete", "Notes", new { id = note.NoteId }, null)


    }
    @using (Html.BeginForm("Create", "Notes"))
    {
        @Html.TextArea("Content", "Add a note about the activity", new { @class = "form-control" })
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
        <input type="hidden" name="ActivityId" value=@Model.Id />

    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
